# Ignore everything in the base directory.
/*

# Unignore specific things
!/src
!/README.md
!/.git*
!/LICENSE*
!/Makefile

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project specific
jtar
